<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/tasks.css" rel="stylesheet">
    <link href="/css/bd-theme.css" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
    <link href="/css/addTask.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
    <!--<div>
<nav>
    <ul>
      <li><a href="/menu"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
      <li><a href="/" STYLE="text-decoration:none">HOME</a></li>
      <li style="float:right"><a href="addgroup"><span class="glyphicon glyphicon-plus"></span></a></li>
      <li style="float:right"><a href="notifications"><span class="glyphicon glyphicon-exclamation-sign"></span></a></li>
    </ul>
  </nav>
  </div>-->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="back-button-m" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a> 
        <a class="navbar-brand">New Group</a>
      </div>
      
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="back-button"><a href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a></li>        
          <!-- dropdown menu start  -->
<!--           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ariahaspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Account Settings</a></li>
            </ul>
          </li> -->
          <!-- drop down menu end -->
          <li><a href="/index"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/notifications"><span class="glyphicon glyphicon-exclamation-sign"></span> NOTIFICATIONS</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-off"></span> LOGOUT</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>

<div class="container form-container">
  <form class="form-horizontal" role="form" method="get" action="/newGroup">
  <!-- <fieldset> -->
    <legend>Create a New Group</legend>
    <div class="form-group">
     <!--  <label for="inputEmail" class="col-lg-2 control-label">Email</label> -->
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputTask" placeholder="Group Name" name="groupName">
      </div>
    </div>
    <div class="form-group">
      <label style="text-align:left" for="select" class="col-lg-6 control-label">Add Members</label>
      <div class="col-lg-10">
        <br>
      <label><input type="checkbox" name="member1"> Johnny Chau</label>
      <br>
      <label><input type="checkbox" name="member2"> Crystal Jiao</label>
      <br>
      <label><input type="checkbox" name="member3"> Edward Li</label>
      </div>
    </div>

      <a href="/index" class="btn btn-default"> Cancel</a>
      <input type="submit" id="submitBtn" class="btn btn-default" value="Submit"></input>
  </form>
  </div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87923824-1', 'auto');
  ga('send', 'pageview');

</script>
</body> 
</html>