<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/details.css" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="back-button-m" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a> 
        <a class="navbar-brand">Account Info</a>
      </div>
      
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="back-button"><a href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
          <li><a href="/index"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login"><span class="glyphicon glyphicon-off"></span> LOGOUT</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>


<div class = "container">
  <img src="https://scontent-lax3-1.xx.fbcdn.net/t31.0-8/13147369_10153681129222399_278363151251204374_o.jpg" class="img-circle img-responsive center-block" width="150px">
  <br>
  <p><strong>Username: </strong> crystaljiao</p>
  <p><strong>Email: </strong> cjiao@cliqit.com</p>
  <br>
  <a href="/index" class="btn btn-default"> Home</a> 
  <a href="/login" class="btn btn-default"> Logout</a>
</div>

</body> 
</html>