<!DOCTYPE html>
<html>

<head>
		<title>CliqIt Homepage</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/homepage.css" rel="stylesheet">
</head>

<body>	

<div>
<nav>
  <ul>
    <li><a href="#menu"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
    <li><a href="/" STYLE="text-decoration:none">HOME</a></li>
    <li style="float:right"><a href="addgroup"><span class="glyphicon glyphicon-plus"></span></a></li>
    <li style="float:right"><a href="notifications"><span class="glyphicon glyphicon-exclamation-sign"></span></a></li>
  </ul>
</nav>
</div>

<!--<nav>
  <ul>
    <li><a href="#Menu"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
    <li><a href="#Purpose">About</a></li>
  <ul>
    <li><a href="#HowTo" >Guide</a></li>
    <li><a href="#Price" >Pricing</a></li>
  </ul>
</nav>-->

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <a href="/group1">Group 1</a>
    </div>
    <div class="col-xs-6">
      <a href="/group2">Group 2</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="/group3">Group 3</a>
    </div>
    <div class="col-xs-6">
      <a href="/group4">Group 4</a>      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="/group5">Group 5</a>
    </div>
    <div class="col-xs-6">
      <a href="/group6">Group 6</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
