<!DOCTYPE html>
<html>

<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/homepage.css" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index"><img src="/images/logo.png" alt="Cliqit" class="expand"></a> 
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>

  <div class="container form-container">
  <form class="form-horizontal">
  <div class="col-md-2 col-md-offset-5">
  <!-- <fieldset> -->
    <legend>Log In</legend>
    <div class="form-group">
        	<input type="text" class="form-control" id="inputTask" placeholder="Username">
        	<br>
        	<input type="PASSWORD" class="form-control" id="inputTask" placeholder="Password">
     	</div>
     </div>
 </div>
     <div class="row">
     	<div class="col-lg-1 col-centered">
     <a href="/index" class="btn btn-default"> Login</a>
 </div>
</div>
  </form>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  </div>

</html>