.form-container{
	width: 400px;
}

legend {
	color: #85BDBF !important;
}

#select{
	width: 78%;
}

label {
	color: gray !important;
	font-weight: 300 !important;
}

.btn-default {
	color: #85BDBF !important;
	background-image: none !important;
}

.form-control {
	color: gray;
}


@media only screen and (max-width: 767px){
	.form-horizontal{
		width: 80%;
	}
}