.col-xs-6 {
	text-align: center;
    font-size: 15px;
	padding-top: 80px;
	border: 3px solid;
	border-radius: 100px;
	width: 200px;
	height: 200px;
    margin: 5px;
    margin-right: auto
}

.container{
	width: 500px;
    padding-top: 70px;

}

ul {
	position: fixed;
	width: 100%;
	top 0;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}



/*.img-circular{
 width: 200px;
 height: 200px;
 background-image: url('http://strawberry-fest.org/wp-content/uploads/2012/01/Coca-Cola-logo.jpg');
 background-size: cover;
 display: block;
 border-top-left-radius: 100px;
 -webkit-border-top-left-radius: 100px;
 -moz-border-top-left-radius: 100px;
 border-bottom-right-radius: 100px;
 -webkit-border-bottom-right-radius: 100px;
 -moz-border-bottom-right-radius: 100px;
}*/