
.navbar-default {
  background-color: #85BDBF !important;
  background-image: none !important;
}

.navbar a {
  color: white !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}


.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  top: 2px;
}


 /*DEMO example styles for logo image */
.navbar-brand {
  padding: 10px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  margin-top: 0px;
}


/* style this so it is centered on the mobile nav bar*/
.back-button-m a{
  display: none !important;

}

.back-button a{
  display: block;
}

/* back button to show up on nav bar for mobile view, regular back button to stay hidden */
@media only screen and (max-width: 767px){
  .back-button{
    display:none !important;
  }
  .back-button-m{
    display:block !important;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    color: white;
  }

  .back-button-m span{
    font-size: 1.5em;
  }
}