/*ul {
	position: fixed;
	width: 100%;
	top 0;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover 
li a:hover {
    background-color: #111;
}

.container{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    width: 500px;
    padding-top: 70px;
    padding-bottom: 70px;
}*/

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}


 /*DEMO example styles for logo image */
.navbar-brand {
  padding: 15px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px;
}

/*.navbar{
  position: fixed;
}*/
