#remind{
	margin: auto;
	margin-top: 100%;
}
#options{
	margin-top: 0px;
}

.task1{
	border: 1px dashed black;
	width: 40%;
	padding: 10px;
	margin: 5px auto;
}

.left{
	float: left;
}

.right{
	float: right;
}

@media only screen and (max-width: 767px){
	.task1{
		width: 300px;
	}
}