#remind{
	margin: auto;
	margin-top: 100%;
}
#options{
	margin-top: 0px;
}

.task1{
	border: 1px dashed gray;
	width: 40%;
	padding: 10px;
	margin: 5px auto;
}

.left{
	float: left;
}

.right{
	float: right;
}

.btn-default {
	color: #85BDBF !important;
	background-image: none !important;
}

a {
  color: #85BDBF;
}

h4 {
  color: #85BDBF !important;
}

p {
  color: gray !important;
}

label {
  color: gray;
}


@media only screen and (max-width: 767px){
	.task1{
		width: 300px;
	}
}