html, body{
  width: 100%;
  padding-bottom: 40px;
}
#remind{
  margin: auto;
  margin-left: 35%;
}
#options{
  margin-top: 0px;
}

#btn-see-members{
  margin-right: 100%
}
.task1{
  border: 1px solid gray;
  width: 40%;
  padding: 10px;
  margin: 5px auto;
}

.left{
  float: left;
  width: 80%;
}

.right{
  float: right;
  margin-left: 10%;
}

.btn-default {
  color: #85BDBF !important;
  background-image: none !important;
}

a {
  color: #85BDBF;
}

h4 {
  color: #85BDBF !important;
}

p {
  color: gray !important;
}

label {
  color: gray;
}

input[type=radio].css-checkbox {
              position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
            }

            input[type=radio].css-checkbox + label.css-label {
              padding-left:23px;
              height:21px; 
              display:inline-block;
              line-height:21px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:15px;
              vertical-align:middle;
              cursor:pointer;

            }

            input[type=radio].css-checkbox:checked + label.css-label {
              background-position: 0 -21px;
            }
            label.css-label {
        background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_5ab92245cf78caac21ff087cfc374219.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

@media only screen and (max-width: 767px){
  .task1{
    width: 300px;
    padding-top: 15px;
  }
  footer{
    width: 100%;
    padding: 15px;
  }

  /* for the members button in the nav bar */
  .btn-see-members{
    display:block !important;
    margin-left: 15%;
    margin-top: 13px;
    position: absolute;
  }

  .btn-see-members span{
    font-size: 1.5em;
  }
}

footer{
  position: fixed;
  bottom: 0px;
  right: 5px;
  padding-top: 15px;
  background: none repeat scroll 0 0 #ffffff;
}

footer span{
  font-size: 2em;
}

.heading{
  text-align: center;
  color: #85BFBD;
  font-family: "Geneva";
}

.heading a{
  color: gray;
}

