html, body{
  width: 100%;
  padding-bottom: 40px;
}
#remind{
  margin: auto;
  margin-left: 35%;
}
#options{
  margin-top: 0px;
}

#btn-see-members{
  margin-right: 100%
}
.task1{
  border: 1px solid black;
  width: 40%;
  padding: 10px;
  margin: 5px auto;
}

.left{
  float: left;
  width: 80%;
}

.right{
  float: right;
  margin-left: 10%;
}

@media only screen and (max-width: 767px){
  .task1{
    width: 300px;
    padding-top: 15px;
  }
  footer{
    width: 100%;
    padding: 15px;
  }

  /* for the members button in the nav bar */
  .btn-see-members{
    display:block !important;
    margin-left: 15%;
    margin-top: 13px;
    position: absolute;
  }

  .btn-see-members span{
    font-size: 1.5em;
  }
}

footer{
  position: fixed;
  bottom: 0px;
  right: 5px;
  padding-top: 15px;
  background: none repeat scroll 0 0 #ffffff;
}

footer span{
  font-size: 2em;
}

.heading{
  text-align: center;
  color: black;
  font-family: "Geneva";
}

.heading a{
  color: gray;
}

